footer 
    .footer__container
        .footer__column-logo
            a(href="/") 
                img(src=img+"logo.svg", alt="")
            .copy 2021 copyright<br>© all rights reserved
        .footer__column-social
            h6 social media
            .flex 
                a(href="#") 
                    img(src=img+"instagram.svg", alt="")
                a(href="#")
                    img(src=img+"facebook.svg", alt="")
        .footer__column-nav
            h6 Navigation
            ul 
                li 
                    a(href="#") Home
                li 
                    a(href="#") About Us
                li
                    a(href="#") Career
                li
                    a(href="#") Contact
        .footer__column-map
            img(src=img+"map1.png", alt="")
            img(src=img+"map2.png", alt="")